body{
    font-family: "Microsoft Yahei", 微软雅黑, 宋体, arial, "Hiragino Sans GB", Tahoma, Arial, Helvetica;
}
input,
button,
select,
textarea {
	outline: none;
}

* {
	padding: 0;
}

a:hover {
	cursor: pointer;
	text-decoration: none!important;
}

.dataTables_paginate{
	text-align: left;
}
.paging{
	margin: 20px 0 0 -27px;
}
.padding-top{
	padding-top: 15px;
}
.floatL{
	float: left;
}
.floatR{
	float: right;
}
.padding-12 {
    padding: 0 12px;
}
.btn-radius {
    border-radius: 5px;
}
.marginleft10 {
    margin-left: 10px;
}
.padding-bottom{
	padding-bottom: 16px;
}
.leadingin{
	display: block;
	cursor: ;
	
}
.importPackage span{
	display: block;
	margin-top: 6px;
}
.upload{
	float: left;
    width: 170px;
}
.collectRecords-table,.packagelist-table{
	width: 100%;
}
.login-logo {
	background: #242b31;
	padding-left: 10px;
	margin-top: 0;
}

.login-box {
	margin-top: 50%;
}

.check_img {
	display: inline-block;
	width: 58px;
	height: 20px;
	position: absolute;
	right: 40px;
	top: 8px;
}

.color {
	color: #858585;
}

.login-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.help-block {
	color: #f00;
	font-size: 12px;
	margin-bottom: 0;
	margin-top: 0;
}

.block .marginbottom5 {
	margin-bottom: 5px;
}

.input-icon.input-icon-right>input {
	margin-bottom: 5px;
}
.bottomfy{
	margin-left:-12px
}.bottomjl{
	margin:10px 0;
}